footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  gap: 32px;
  padding: 24px;

  background-color: var(--dark-grey);
}

footer img {
  height: 40px;
}


footer p {
  color: var(--text-light-gray);
  font-size: 14px;
}
